.detailsList {
  padding: 0;
  list-style: none;
}
.band-info {
  padding-left: 10px;
}
.bandDetails-top {
  border-bottom: 1px solid white !important;
  border-top: 1px solid white !important;
  padding: 20px !important;
}
.bandDetails-bottom {
  padding: 20px !important;
}
.headbang {
  padding-bottom: 20px;
}
.randomizerText {
  padding: 0 0 20px 0;
}