// Colors
$bdc-gradient: linear-gradient(15deg ,#54B7E8, #0093DD,#0F9BB8, #23A687);
$hamburger-icon-white: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
$bdc-blue: #0893D9;
$bdc-green: #35AE68;

//Font-size
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
